<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/header :: header-css" />
</head>
<body>

	<div th:replace="fragments/header :: header" />

	<div class="container">
		<div class="row white">

			<h5 class="black-text center">Defesas</h5>
			<table class="highlight " id="table-admin">
				<thead>
					<tr>
						<th>Id</th>
						<th>Local</th>
						<th>Data</th>
						<th>Horário</th>
						<th>Opções</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="defesa : ${defesas}">
						<td th:text="${defesa.id}"></td>
						<td th:text="${defesa.nomeDoLocal}"></td>
						<td th:text="${defesa.dataDefesa}"></td>
						<td th:text="${defesa.horaDefesa}"></td>
						<td>
							<a class="btn-floating" th:href="@{${'/defesa/editar/'+defesa.id}}"> 
								<i class="material-icons">edit</i>
							</a> 
							<a class="btn-floating" th:href="@{${'/defesa/remover/'+defesa.id}}">
								<i class="material-icons">delete</i> 
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="fixed-action-btn">
		<a th:href="@{/defesa/cadastrar}"
			class="btn-floating btn-large waves-effect waves-light red pulse">
			<i class="material-icons">add</i>
		</a>
	</div>
	<!-- /.container -->
	<div th:replace="fragments/footer :: footer" />

</body>
</html>