<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>


<!-- o conteï¿½do da pï¿½gina vai aqui -->
		<div class="container">
			<div class="row ">
				<div class="col s3"></div>
				<div class="card col s6 white z-depth-3">
	
					<h5 class="black-text">Cadastrar curso</h5>
					<form action="/curso/cadastrar" method="post" th:object="${curso}">
						<fieldset>
							<legend> Dados do Curso: </legend>

							<div class="input-field col s12">
								<input id="nome" type="text" name="nome" class="validate" />
								<label for="nome" data-error="Nome Invalido" data-sucess="Nome Valido">Nome</label>
							</div>

							<div class="input-field col s12">
								<input id="mediaDeAprovacao" type="number" step="0.01" min="0" max="10" name="mediaDeAprovacao" class="validate" />
								<label for="mediaDeAprovacao" data-error="Media Invalida" data-sucess="Madia Valida">Media de Aprovação</label>
							</div>
							
							<div class="input-field col s12">
								<textarea rows="5" cols="12" id="descricao" name="descricao" 
											class="materialize-textarea validate" ></textarea>
								<label for="descricao" data-error="Descrição Invalida" data-sucess="Descrição Valida">Descrição</label>
							</div>

						
						</fieldset>
						<div class="input-field col s12"></div>
						
						
						<div class="col s4">
							<button class="btn waves-effect waves-light" type="submit"
								name="action">Cadastrar</button>
						</div>
						<div class="row"></div>
					</form>
	
				</div>
				<div class="col s3"></div>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$('select').material_select();
			});
		</script>

<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>