<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

	<div class="container">
		<div class="row white">
					
			<h5 class="black-text center">Alunos</h5>
			<table class="highlight " id="table-admin">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nome</th>
						<th>Sobrenome</th>
						<th>Matricula</th>				
						<th>CPF</th>		
						<th>Opções</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="aluno : ${alunos}">
						<td th:text="${aluno.id}"></td>
						<td th:text="${aluno.primeiroNome}"></td>
						<td th:text="${aluno.segundoNome}"></td>
						<td th:text="${aluno.matricula}"></td>
						<td th:text="${aluno.cpf}"></td>
						<td><a class="btn-floating"
							th:href="@{${'/aluno/editar/'+aluno.id}}"><i
								class="material-icons">edit</i> </a> <a class="btn-floating"
							th:href="@{${'/aluno/remover/'+aluno.id}}"><i
								class="material-icons">delete</i> </a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="fixed-action-btn">
		<a th:href="@{/aluno/cadastrar}"
			class="btn-floating btn-large waves-effect waves-light red pulse">
			<i class="material-icons">add</i>
		</a>
	</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>