<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
	<div th:fragment="footer">


		<footer class="page-footer light-blue lighten-1">
			<div class="footer-copyright">
            <div class="container">
            	HackerSpace Qx
            <a class="grey-text text-lighten-4 right" 
            	href="https://github.com/hackerspaceqx/agendatcc/graphs/contributors">
            	Contribuiçoes
            </a>
            </div>
          </div>
		</footer>



	</div>
</body>
</html>