<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AgendaTCC</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Link para as paginas</h1>

        <fieldset>
        	<legend> Paginas do sistema</legend>                

	        <h2><a th:href="@{/aluno}">Aluno</a></h2>
   	        <h2><a th:href="@{/professor}">Professor</a></h2>
	        <h2><a th:href="@{/curso}">Curso</a></h2>
	        <h2><a th:href="@{/tcc}">Tcc</a></h2>

        </fieldset>


        <fieldset>
        	<legend> Paginas Teste</legend>
	        <h2><a th:href="@{/admin}">Admin</a></h2>
	        <h2><a th:href="@{/user}">Usuario</a></h2>
	        <h2><a th:href="@{/about}">Normal</a></h2>
        </fieldset>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>