<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/header :: header-css" />
</head>
<body>

	<div th:replace="fragments/header :: header" />


	<!-- o conteï¿½do da pï¿½gina vai aqui -->
	<main>
	<div class="container">
		<div class="row">
			<div class="col s1"></div>
			<div class="card col s10 white z-depth-3">


				<fieldset>
					<legend>
						<h5 class="black-text">Editar Professor</h5>
					</legend>


					<form th:action="@{/professor/editar/}+${currentProfessor.id}"
						method="post" th:object="${professor}">

						<div class="col s12 row"></div>
						<fieldset>
							<legend> Dados do Professor: </legend>

							<div class="input-field col s12">
								<input id="primeiroNome" type="text" name="primeiroNome"
									class="validate" th:value="${currentProfessor.primeiroNome}"/> <label for="primeiroNome"
									data-error="Nome Invalido" data-sucess="Nome Valido">Nome</label>
							</div>

							<div class="input-field col s12">
								<input id="segundoNome" type="text" name="segundoNome"
									class="validate" th:value="${currentProfessor.segundoNome}"/> <label for="segundoNome"
									data-error="Nome Invalido" data-sucess="Nome Valido">Sobrenome</label>
							</div>

							<div class="input-field col s12">
								<select name="titulacaoAcademica"
									th:object="${titulacaoAcademica}">
									<option th:each="titulacaoAcademica : ${titulacoesAcademina}"
										th:value="${titulacaoAcademica}"
										th:text="${titulacaoAcademica}"
										th:selected="${titulacaoAcademica} == ${currentProfessor.titulacaoAcademica}">
									</option>
								</select> <label>Titulação Academica</label>
							</div>

							<div class="input-field col s12">
								<select name="genero" th:object="${genero}">
									<option th:each="genero : ${generos}" 
										th:value="${genero}"
										th:text="${genero}"
										th:selected="${genero} == ${currentProfessor.genero}">
									</option>
								</select> <label>Genero</label>
							</div>

							<div class="input-field col s12">
								<select name="tratamento" th:object="${formaTratamento}">
									<option th:each="tratamento : ${formasDeTratamento}"
										th:value="${tratamento}" th:text="${tratamento}"
										th:selected="${tratamento} == ${currentProfessor.tratamento}">
									</option>
								</select> <label>Forma de Tratamento</label>
							</div>

							<div class="input-field col s12">
								<input id="cpf" type="number" name="cpf" class="validate" th:value="${currentProfessor.cpf}"/> <label
									for="cpf" data-error="CPF Invalido" data-sucess="CPF Valido">CPF</label>
							</div>

							<div class="input-field col s12">
								<input id="identidade" type="number" name="identidade"
									class="validate" th:value="${currentProfessor.identidade}"/> <label for="identidade"
									data-error="RG Invalido" data-sucess="RG Valido">RG</label>
							</div>

							<div class="input-field col s12">
								<input id="orgaoExpedidor" type="text" name="orgaoExpedidor"
									class="validate" th:value="${currentProfessor.orgaoExpedidor}"/> <label for="orgaoExpedidor"
									data-error="Orgao Expeditor Invalido"
									data-sucess="Orgao Expeditor Valido">Orgão Expeditor</label>
							</div>

							<div class="input-field col s12">
								<select name="nacionalidade" th:object="${nacionalidade}">
									<option th:each="nacionalidade : ${nacionalidades}"
										th:value="${nacionalidade}" th:text="${nacionalidade}"
										th:selected="${nacionalidade} == ${currentProfessor.nacionalidade}">
									</option>
								</select> <label>Nacionalidade</label>
							</div>
						</fieldset>

						<div class="row"></div>
						<div class="col s4">
							<button class="btn waves-effect waves-light" type="submit"
								name="action">Atualizar</button>
						</div>
						<div class="row"></div>
					</form>
				</fieldset>
			</div>
			<div class="col s1"></div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$('select').material_select();
		});
	</script>

	<!-- /.container -->
	</main>
	
	<div th:replace="fragments/footer :: footer" />

</body>
</html>